<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADD-ITEMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<title>StoreToys</title>
</head>

<body>
	<div class="container my-5">
        <div>
            <div class="mb-3">
                <label class="form-label">Tên danh mục</label>
                <input type="text=" class="form-control" id="exampleInputEmail1" placeholder="Nhập danh mục" name="category_name" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary" name="submit" id="btnSubmit">Thêm</button>
        </div>
    </div>
</body>
	<script src = "AddCategory.js"></script>
</html>
