<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Storetoys</title>
	<link rel="stylesheet" href="../../Assets/css/admin/admin.css">
	<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
	
</head>

<body>
	<header class="header-title">
        <h1 style="margin-left: 120px;">ADMIN</h1>
        <h1 > Cửa hàng Stoys</h1>
        <div style="margin-right: 120px;margin-top: 3.5rem;" class="back">
            <a style="color: white;" href="../home/Home.html">Đến trang chủ</a>
            <i class="bx bx-right-arrow-alt"></i>
        </div>
    </header>
	<div class="contain">
        <div class="left">
            <div style="display: flex;background: #92b14a;" class="avatar">
                <h1>admin</h1>
            </div>
            <div class="menu">
                <div class="taikhoan">
                    <h3>Quản lý tài khoản</h3>
                    <ul> 
                        <li><a href="../user/AddUser.html">Thêm tài khoản</a></li>
                        <li><a href="../user/UserManagerment.html">Danh sách tài khoản</a></li>
                    </ul>
                </div>
                <div class="taikhoan">
                    <h3>Quản lý danh mục sản phẩm</h3>
                    <ul>
                        <li><a href="../category/AddCategory.html">Thêm danh mục sản phẩm</a></li>
                        <li><a href="../category/CategoryManagerment.html">Danh sách danh mục sản phẩm</a></li>
                    </ul>
                </div>
                <div class="taikhoan">
                    <h3>Quản lý thương hiệu</h3>
                    <ul>
                        <li><a href="AddBrand.html">Thêm thương hiệu</a></li>
                        <li><a href="BrandManagerment.html">Danh sách thương hiệu</a></li>
                    </ul>
                </div>
                <div class="taikhoan">
                    <h3>Quản lý sản phẩm</h3>
                    <ul> 
                        <li><a href="../product/AddProduct.html">Thêm sản phẩm</a></li>
                        <li><a href="../product/ProductManagerment.html">Danh sách sản phẩm</a></li>
                    </ul>
                </div>
                <div class="taikhoan">
                    <h3>Quản lý đơn hàng</h3>
                    <ul>
                        <li><a href="">Danh sách đơn hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
		<div class="right">
            <div class="header">
				<h1>Thương hiệu</h1>  
            </div>
            <div class="list-acc">
                <table style="width: 1000px;" class="table">
					<thead>
						<tr>
                            <th style="margin-left: 2rem;" scope="col">STT</th>
                            <th style="margin-left: 2rem;" scope="col">Tên thương hiệu</th>
                            <th style="margin-left: 2rem;" scope="col">Ảnh thương hiệu</th>
                        </tr>
                    </thead>
                    <tbody id="brand">
					</tbody>
                </table>
            </div>
        </div>
	</div>
	<div class="modal js-modal">
		<div class="modal-container">
			<div class="modal-close">
				<button onClick="hiddenUpdateBrand()">X</button>
			</div>
			<header class="modal-header">Cập nhật thương hiệu</header>
			<div class="modal-body">
				<label for="brand-name" class="modal-label">
					Tên thương hiệu
				</label>
				<input id = "brand-name" type="text" placeholder="Tên thương hiệu" name="input-brand-name">
				<button id="update">Cập nhật</button>
			</div>
		</div>
	</div>
</body>
<script src = "BrandManagerment.js"></script>
</html>
