<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>StoreToys</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../../Assets/css/home/base.css">
<link rel="stylesheet" href="../../Assets/css/home/main.css">
<link rel="stylesheet" href="../../Assets/css/home/style.css">	
</head>

<body>
	<div class="wrapper">
		<div class="promo-bar">
        <span style="color: #F2C75C">Freeship cho đơn từ 1.000.000đ nội thành Hà Nội</span>
    	</div>
		<header class="header">
        	<div class="header-first">
            	<div class="header-container">
                	<h1 class="logo">
                    	<a href="Home.html">
                        	<img src="../../Assets/image/stoys.png" style="width: 80px">
                    	</a>
                	</h1>
                	<div class="search">
                        <form class="search-form">
                            <input type="text" size="20" class="search-input" placeholder="Bạn tìm đồ chơi gì?" name="search">
                            <button type="submit" class="search-button">
                                <i class="fas fa-search search-icon hover-icon" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                	<div class="icon">
                    	<div class="fa">
                        	<a href="" class="fa fa-map-marker map-marker-icon hover-icon"></a>
                    	</div>
                    	<div>
                        	<a class="fa fa-user-circle user-circle-icon hover-icon"></a>
                    	</div>
                    	<div>
                        	<a href="Cart.html" class="fa fa-shopping-cart shopping-cart-icon hover-icon">
                            	<span class="number-product"></span>
                        	</a>
                    	</div>
                	</div>
            	</div>
        	</div>
        	<nav class="header-navbar">
            	<div class="grid">
                	<ul class="navbar-list">
                    	<li class="navbar-item navbar-item-news">
                        	<div class="navbar-news">
                            	<ul class="news-list">
                                	<li class="list-content hover-region">
                                    	<a href="cogihot/gocdochoi.php" class="content">Blog đồ chơi</a>
                                	</li>
                                	<li class="list-content hover-region">
                                    	<a href="cogihot/camnangbome.php" class="content">Cẩm nang bố mẹ thông thái</a>
                                	</li>
                                	<li class="list-content hover-region">
                                    	<a href="cogihot/sukien.php" class="content">Sự kiện Funnyland</a>
                                	</li>
                            	</ul>
                        	</div>
                        	<a href="" class="item-link hover-icon">Có gì hot?</a>
                    	</li>
                    	<li class="navbar-item navbar-item-sex">
                        	<div class="navbar-sex">
                            	<ul class="news-list">
                                	<li class="list-content hover-region">
                                    	<a href="gioitinh.php?sex=nam" class="content">Bé trai</a>
                                	</li>
                                	<li class="list-content hover-region">
                                    	<a href="gioitinh.php?sex=nu" class="content">Bé gái</a>
                                	</li>
                                	<li class="list-content hover-region">
                                    	<a href="gioitinh.php?sex=unisex" class="content">Unisex</a>
                                	</li>
                            	</ul>
                        	</div>
                        	<a href="" class="item-link hover-icon">Giới tính</a>
                    	</li>
                    	<li class="navbar-item navbar-item-category">
                        	<div class="navbar-category">
                            	<ul class="news-list" id="category-name"></ul>
                        	</div>
                        	<a href="" class="item-link hover-icon">Thể loại</a>
                    	</li>
                    	<li class="navbar-item navbar-item-brand">
                        	<div class="navbar-brand">
                            	<ul class="news-list" id="brand-name"></ul>
                        	</div>
                        	<a href="" class="item-link hover-icon">Thương hiệu</a>
                    	</li>
                    	<li class="navbar-item hover-region">
                        	<a href="hethongcuahang.php" class="item-link hover-icon">Thông tin</a>
                    	</li>
                	</ul>
            	</div>
        	</nav>
    	</header>
		<div class="container">
        	<div class="row">
            	<a style="color:rgb(55, 74, 74);" href="index.php">Trang chủ</a>
        	</div>
    	</div>
		<div class="container">
        <div class="sidebar-blog">
            <div class="news-latest">
                <div class="lable">
                    <h2 style="color: black;" >BÀI VIẾT MỚI NHẤT</h2>
                </div>
                <div class="list-new-latest">
                    <div class="item-article">
                        <div class="post-image">
                            <img src="../../Assets/image/Giiker.png" class="dt-width-100" alt="">       
                        </div>
                        <div class="post-content">
                            <h3>
                                <div>Giiker - Khám Phá Giáo Dục Sáng Tạo Thông Qua Công Nghệ Thông Minh Đột Phá</div>
                            </h3>
                        </div>
                    </div>
                    <div class="item-article">
                        <div class="post-image">
                            <img src="../../Assets/image/anh2.png" class="dt-width-100" alt="">
                        </div>
                        <div class="post-content">
                            <h3>
                                <div>[Chơi Sáng Tạo - Học Đỉnh Cao] Thử thách Biến Hình 3D cùng Magformers</div>
                            </h3>
                        </div>
                    </div>
                    <div class="item-article">
                        <div class="post-image">
                            <img src="../../Assets/image/anh3.png" class="dt-width-100" alt="">
                        </div>
                        <div class="post-content">
                            <h3>
                                <div>Summer Warehouse Sale - Ưu Đãi Mùa Hè Lớn Nhất Năm Lên Đến 80%</div>
                            </h3>
                        </div>
                    </div>
                    <div class="item-article">
                        <div class="post-image">
                                <img src="../../Assets/image/anh5.png" class="dt-width-100" alt="">
                        </div>
                        <div class="post-content">
                            <h3>
                                <div>CƠN BÃO SALE 70% LỚN NHẤT THÁNG 3 ĐÃ RẦM RỘ TRỞ LẠI !!!!</div>
                            </h3>
                        </div>
                    </div>
                    <div class="item-article">
                        <div class="post-image">
                            <img src="../../Assets/image/anh6.png" class="dt-width-100" alt="">
                        </div>
                        <div class="post-content">
                            <h3>
                                <div>PLAYMOBIL FIGURES - TRỌN BỘ SƯU TẬP MÔ HÌNH NHÂN VẬT SIÊU CHẤT TỪ PLAYMOBIL</div>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-blog">
                <div class="title-categories">
                    <h2>Danh mục blog</h2>
                </div>
                <div class="group-menu">
                    <div class="layered-category">
                        <ul class="menuList-links">
                            <ul class="menuList-links">
                                <li><a href="../cogihot/gocdochoi.php">Góc đồ chơi</a></li>
                                <li><a href="../cogihot/camnangbome.php">Cẩm nang bố mẹ thông thái</a></li>
                                <li><a href="../cogihot/sukien.php">Sự kiện Funnyland</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="information">
            <div class="heading-page">
                <h1>Góc đồ chơi</h1>
            </div>
            <div class="blog-content">
                <article class="blog-loop">
                    <div class="pic">
                        <img style="width: 280px;" src="../../Assets/image/Giiker.png" alt="">
                    </div>
                    <div class="tieude">
                        <h3 class="bolg-post-title">Giiker - Khám Phá Giáo Dục Sáng Tạo Thông Qua Công Nghệ Thông Minh Đột Phá</h3>
                        <p class="entry-content">Challenge 1 - Thử thách biến hình Quả Cầu 3D -> Mặt Trăng 3D trong 45 giâyChương trình thi đấu CHƠI SÁNG TẠO - HỌC...</p>
                    </div>
                </article>
                <article class="blog-loop">
                    <div class="pic">
                        <img style="width: 280px;" src="../../Assets/image/anh2.png" alt="">
                    </div>
                    <div class="tieude">
                        <h3 class="bolg-post-title">[Chơi Sáng Tạo - Học Đỉnh Cao] Thử thách Biến Hình 3D cùng Magformers</h3>
                        <p class="entry-content">Challenge 1 - Thử thách biến hình Quả Cầu 3D -> Mặt Trăng 3D trong 45 giâyChương trình thi đấu CHƠI SÁNG TẠO - HỌC...</p>
                    </div>
                </article>
                <article class="blog-loop">
                    <div class="pic">
                        <img style="width: 280px;" src="../../Assets/image/anh3.png" alt="">
                    </div>
                    <div class="tieude">
                        <h3 class="bolg-post-title">Summer Warehouse Sale - Ưu Đãi Mùa Hè Lớn Nhất Năm Lên Đến 80%</h3>
                        <p class="entry-content">Chương trình sale lên đến 𝟖𝟎% cuối mùa lớn nhất năm của 𝐅𝐔𝐍𝐍𝐘𝐋𝐀𝐍𝐃 với hàng loạt item đồ chơi đến từ các thương hiệu xịn xò...</p>
                    </div>
                </article>
                <article  class="blog-loop">
                    <div class="pic">
                        <img style="width: 280px;" src="../../Assets/image/anh5.png" alt="">
                    </div>
                    <div class="tieude">
                        <h3 class="bolg-post-title">CƠN BÃO SALE 70% LỚN NHẤT THÁNG 3 ĐÃ RẦM RỘ TRỞ LẠI !!!!</h3>
                        <p class="entry-content">Tin nóng Ưu đãi SIÊU TO ĐẾN 70% đã chính thức đổ bộ tại Funnyland với hàng loạt item đến từ các thương hiệu...</p>
                    </div>
                </article>
                <article  class="blog-loop">
                    <div class="pic">
                        <img style="width: 280px;" src="../../Assets/image/anh6.png" alt="">
                    </div>
                    <div class="tieude">
                        <h3 class="bolg-post-title">PLAYMOBIL FIGURES - TRỌN BỘ SƯU TẬP MÔ HÌNH NHÂN VẬT SIÊU CHẤT TỪ PLAYMOBIL</h3>
                        <p class="entry-content">PLAYMOBIL là thương hiệu đồ chơi nhập vai, đồ chơi mô hình đến từ Đức, trực thuộc tập đoàn Brandstätter đem đến cho trẻ một thế...</p>
                    </div>
                </article>
            </div>
        </div>
        </div>
		<footer class="footer">
            <div class="footer-container grid">
                <div class="footer-content">
                    <div class="footer-content-title">GIỚI THIỆU</div>
                    <p class="footer-content-container">Stoys Công ty Cổ phần Những Trẻ Em Vàng 243 Hai Bà Trưng, Phường Võ Thị Sáu, Quận 3, Tp.HCM Giấy phép ĐKKD số 0309818464 do Sở KHĐT Tp.HCM cấp ngày 02/03/2010</p>
                    <div>
                        <img src="../../Assets/image/bocongthuong.png">
                    </div>
                </div >
                <div class="footer-content">
                    <div class="footer-content-title">CHÍNH SÁCH</div>
                    <div>
                        <ul class="title-list">
                            <li class="list-guide">
                                <a href="" class="guide">Giới thiệu</a>
                            </li>
                            <li class="list-guide">
                                <a href="" class="guide">Hỗ trợ khách hàng</a>
                            </li>
                            <li class="list-guide">
                                <a href="" class="guide">Chính sách mua hàng</a>
                            </li>
                            <li class="list-guide">
                                <a href="" class="guide">Chính sách thanh toán</a>
                            </li>
                            <li class="list-guide">
                                <a href="" class="guide">Chính sách giao hàng</a>
                            </li>
                            <li class="list-guide">
                                <a href="" class="guide">Chính sách đổi trả</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-content">
                    <div class="footer-content-title">THÔNG TIN LIÊN HỆ</div>
                    <div>
                        <ul class="title-list">
                            <li class="list-contact">
                                <p class="footer-content-container">
                                    Citilight Tower, Phòng 805, 45 Võ Thị Sáu, P. Đakao, Quận 1, Tp. HCM
                                </p>
                            </li>
                            <li class="list-contact">
                                <p style="text-align: left">086 8586 299</p>
                            </li>
                            <li class="list-contact">
                                <p>csfunnyland@goldenkids.com.vn</p>                 
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-content">
                    <div class="footer-content-title">FANPAGE</div>
                    <div style="display: inline-block">
                        <div class="facebook-icon">
                            <a style="color: aliceblue" href="" class="fab fa-facebook youtube-icon"></a>
                        </div>
                        <div class="youtube-icon">
                            <a style="color: red" href="" class="fab fa-youtube facebook-icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
	</div>
	<script src = "Base.js"></script>
</body>
</html>
