<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../Assets/css/home/login.css">
    <title>Đăng nhập</title>
</head>
<body>
    <div class="login-container">
        <h2>Đăng nhập</h2>
        <form>
            <div class="form-group">
                <label for="username">Tên đăng nhập:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="button" onclick="login()">Đăng nhập</button>
            <div class="register-link">
                Bạn chưa có tài khoản? <a href="register.html">Đăng ký ngay</a>
            </div>
        </form>
    </div>
</body>
	<script src="Login.js"></script>
</html>